%h2 Your dealt cards
.cards
  - @cards.each do |card|
    .card-container
      .card-header
        %h3
          %a{href: card_path(card)}= card.title
      .card-body
        = render card.content
