// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
    text-align: center
}

.cards {
//    margin: 1.5em;
    display: flex;
    flex-flow: column wrap;
    min-height: 70vh;
    max-height: 43vw;
    padding: 2.22em;
    align-items: center;
    align-content: center;

    background-color: #E9E9E9;
}

.card-container {
    margin: .5em;

    border: 1px solid rgba(163,163,163,0.5);
    border-radius: .2em;

    flex-grow: 0;

    width: 15vw;

    overflow: hidden;
    background-color: white;
    box-shadow: 2px 4px 5px -1px rgba(163,163,163,1);
}

.card-header {
    line-height: 0;
    border-bottom: 1px solid #232323;

    text-align: center;
}

.card-body {
    background-color: #232323;
    margin: 0;
    max-height: 343px;

    color: white;
}

.card-post, .card-link {
    padding: 1.33em;
}

.card-link {
    text-align: center;
}

.card-image {
    text-align: center;
}

.card-footer {
    margin: .5em;
}

.tag {
    margin: 0.1em 0 .5em .5em;
    padding: .4em;

    background-color: #aeccae;
    border: 1px solid #aeddae;

    display: inline-block;

    font-size: .74em;

    &:hover {
        background-color: darken(#aeccae, 20%);
    }

    & a {
	color: black;
    }
}

.by {
    text-align: right;
    display: block;
}