%header
  %h1.logo
    %a{href: root_path} Shuffler
  %nav
    - unless logged?
      = link_to "Signup", signup_path
      |
      = link_to "Signin", login_path
      |
      three
    - else
      = current_user.email
      = link_to "Log out", logout_path
